body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-image: url("TILE.svg");
    background-size: 7px;
}
h1 {
color: #9900cc;
}
.label {

    font-weight: bold;
}

#cont_nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 10px 0 10px;
   

}

.inputu-rinda {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 5px 0 5px;


}

input {
font-size: 1.5em;   
padding: 4px;
margin: 5px;
width: 70px;
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

button {
    font-size: 1.5em; 
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 4px;
}
.buttonGo {
    background: chartreuse;
   
}

.buttonRESET {
    background: red;
   
}

.buttonFizz {
background: rgb( 255, 51, 255);
}

.buttonBuzz {
    background: rgb(176, 147, 245);
    }

.buttonFizzBuzz {
    background: #9900cc;
    color: white;
    }

#cont_main {

    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
}



    .ordinary {
        display: flex;
        min-width: 150px;
        min-height: 70px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background-color: white;
        margin: 10px 0 10px;
    }

    .ordinary:hover {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 5px 10px, inset rgba(0, 0, 0, 0.3) 20px;
    }

    .Fizz {
        display: flex;
        min-width: 150px;
        min-height: 70px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background-color:rgb( 255, 51, 255);
        margin: 10px 0 10px;
    }

    .Fizz:hover {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 5px 10px, inset rgba(0, 0, 0, 0.3) 20px;
    }

    .Buzz {
        display: flex;
        min-width: 150px;
        min-height: 70px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background-color: rgb(176, 147, 245);
        margin: 10px 0 10px;
    }

    .Buzz:hover {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 5px 10px, inset rgba(0, 0, 0, 0.3) 20px;
    }

    .FizzBuzz {
        display: flex;
        min-width: 150px;
        min-height: 70px;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background-color: #9900cc;
        color: whitesmoke;
        margin: 10px 0 10px;
    }
    .FizzBuzz:hover {
        box-shadow: rgba(0, 0, 0, 0.7) 2px 5px 10px, inset rgba(0, 0, 0, 0.3) 20px;
    }